body{
    background-color: rgb(146, 254, 254);
}
.ma{
    color: rgb(133, 63, 5);
    font-size: 50px;
}
h2{
    margin-left: 360px;
}
.bs{
    font-size: 58px;
    color: rgb(12, 6, 187);
}
#sp{
    margin-left: 295px;
}
#spn{
    margin-left: 95px;
}
#spn1{
    margin-left: 260px;
}
#spn2{
    margin-left: 363px;
}
#spn3{
    margin-left: 345px;
}
#spn4{
    margin-left: 300px;
}
#spn5{
    margin-left: 385px;
}
#s1{
    margin-left: 280px;
}
#s2{
    margin-left: 320px;
}
#s3{
    margin-left: 345px;
}
#s4{
    margin-left: 366px;
}
#s5{
    margin-left: 260px;
}
#sp6{
    margin-left: 325px;
}
#sp7{
    margin-left: 315px;
}
#sp8{
    margin-left: 335px;
}
#sp9{
    margin-left: 315px;
}

#fa{
    color: rgb(211, 28, 125);
    font-size: 40px;
}
